
<footer class="footer-2">
  <div class="footer-logo">
    <img src="" alt="">
  </div>
    <ul>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
			<i class="fa fa-facebook-square"></i>
          </a></li>
        <li><a href="javascript:void(0)">
			<i class="fa fa-twitter-square"></i>
        </a></li>
      </ul>
    </div>
</footer>

